mixin thumbnail-classic(obj)
	// Thumbnail Classic
	article.thumbnail-classic( class= obj.mod )&attributes(attributes)
		if( obj.price )
			.thumbnail-classic-figure: +jpg( obj.img )
		else
			a.thumbnail-classic-figure(href='images/' + obj.imgOriginal + '.jpg' data-lightgallery='item'): +jpg( obj.img )

		.thumbnail-classic-caption: div
			h5.thumbnail-classic-title: a(href=links.product)=obj.title
			if( obj.price )
				.thumbnail-classic-price= '$' + obj.price + '.99'
				.thumbnail-classic-button-wrap
					.thumbnail-classic-button: a.button.button-primary-2.button-zakaria.fl-bigmug-line-search74(href='images/' + obj.imgOriginal + '.jpg' data-lightgallery='item'): +jpg( obj.img )
					.thumbnail-classic-button: a.button.button-primary-2.button-zakaria.fl-bigmug-line-shopping202(href='cart-page.html')
			else if( obj.tag )
				.thumbnail-classic-tag= obj.tag

mixin thumbnail-modern(obj)
	// Thumbnail Classic
	article.thumbnail-modern( class= obj.mod )&attributes(attributes)
		a.thumbnail-modern-figure(href='images/' + obj.imgOriginal + '.jpg' data-lightgallery='item'): +jpg( obj.img )
		.thumbnail-modern-caption: div
			h4.thumbnail-modern-title: a(href=links.product)=obj.title