extends  ../_skeleton

//- Includes
include ../components/_form-checkout
include ../sections/_header-modern
include ../sections/_footer-modern

block variables
	- var activeCategory = 'shop'
	- var pageName = 'Checkout'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg'
	})

	// Section checkout form
	section.section.section-sm.section-first.bg-default.text-md-start
		.container
			.row.row-50.justify-content-center
				.col-md-10.col-lg-6
					h3.fw-medium Billing Address
					+form-checkout({ customUnique: '1', checkbox: true })
				.col-md-10.col-lg-6
					h3.fw-medium Delivery Address
					+form-checkout({ customUnique: '2'})

	// Shopping Cart
	section.section.section-sm.bg-default.text-md-start
		.container
			h3.fw-medium Your shopping cart
			include ../includes/_shopping-cart
	="\n"

	// Section Payment
	section.section.section-sm.section-last.bg-default.text-md-start
		.container
			.row.row-50.justify-content-center
				.col-md-10.col-lg-6
					h3.fw-medium Payment methods
					.box-radio
						.radio-panel
							label.radio-inline.active
								input(name="input-group-radio", value="checkbox-1", type="radio", checked)
								| Direct Bank Transfer
							.radio-panel-content
								p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will be shipped right away.

						.radio-panel
							label.radio-inline
								input(name="input-group-radio", value="checkbox-1", type="radio")
								| PayPal
							.radio-panel-content
								p Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.

						.radio-panel
							label.radio-inline
								input(name="input-group-radio", value="checkbox-1", type="radio")
								| Cheque Payment
							.radio-panel-content
								p Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.

				.col-md-10.col-lg-6
					h3.fw-medium Cart total
					.table-custom-responsive
						table.table-custom.table-custom-primary.table-checkout
							tbody
								tr
									td Cart Subtotal
									td $48
								tr
									td Shipping
									td Free
								tr
									td Total
									td $48
	="\n"

	// Page Footer
	+footer-modern({
		gallery: [
			{img: 'grid-gallery-1-130x130', imgOriginal: 'grid-gallery-1-original'},
			{img: 'grid-gallery-2-130x130', imgOriginal: 'grid-gallery-2-original'},
			{img: 'grid-gallery-3-130x130', imgOriginal: 'grid-gallery-3-original'},
			{img: 'grid-gallery-4-130x130', imgOriginal: 'grid-gallery-4-original'},
			{img: 'grid-gallery-5-130x130', imgOriginal: 'grid-gallery-5-original'},
			{img: 'grid-gallery-6-130x130', imgOriginal: 'grid-gallery-6-original'}
		]
	})