extends  ../_skeleton

//- Includes
include ../components/_ui-pricing
include ../sections/_header-modern
include ../sections/_footer-modern
block variables
	- var activeCategory = 'pages'
	- var pageName = 'Pricing List'

block page  
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg'
	})

	// Pricing List
	section.section.section-xxl.bg-default.text-center
		.container
			.title-group
				h3.fw-regular our Pricing Plans
				p.text-width-large Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor Tur adipiscing elit, sed do. semantic;users, seamless beta-test

			include ../includes/_pricing-classic

	// Page Footer
	+footer-modern({
		gallery: [
			{img: 'grid-gallery-1-130x130', imgOriginal: 'grid-gallery-1-original'},
			{img: 'grid-gallery-2-130x130', imgOriginal: 'grid-gallery-2-original'},
			{img: 'grid-gallery-3-130x130', imgOriginal: 'grid-gallery-3-original'},
			{img: 'grid-gallery-4-130x130', imgOriginal: 'grid-gallery-4-original'},
			{img: 'grid-gallery-5-130x130', imgOriginal: 'grid-gallery-5-original'},
			{img: 'grid-gallery-6-130x130', imgOriginal: 'grid-gallery-6-original'}
		]
	})
