extends  ../_skeleton

//- Includes
include ../sections/_header-modern
include ../sections/_footer-modern
block variables
	- var activeCategory = 'elements'
	- var pageName = 'Tables'

block page
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg'
	})

	section.section.section-xl.bg-default.text-center
		.container
			.title-group
				h3 Table styles
				p.big.font-family-sans-serif-1 Tables have always been perfect for displaying facts and numbers.
				p.big.font-family-sans-serif-1 Now you can benefit from using them on your website.
			.table-custom-responsive
				table.table-custom.table-custom-primary
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	='\n'

	hr

	section.section.section-md.bg-default
		.container
			.table-custom-responsive
				table.table-custom.table-custom-bordered
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	='\n'

	hr

	section.section.section-md.bg-default
		.container
			.table-custom-responsive
				table.table-custom.table-custom-striped.table-custom-primary
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	//Footer
	+footer-modern({
		gallery: [
			{img: 'grid-gallery-1-130x130', imgOriginal: 'grid-gallery-1-original'},
			{img: 'grid-gallery-2-130x130', imgOriginal: 'grid-gallery-2-original'},
			{img: 'grid-gallery-3-130x130', imgOriginal: 'grid-gallery-3-original'},
			{img: 'grid-gallery-4-130x130', imgOriginal: 'grid-gallery-4-original'},
			{img: 'grid-gallery-5-130x130', imgOriginal: 'grid-gallery-5-original'},
			{img: 'grid-gallery-6-130x130', imgOriginal: 'grid-gallery-6-original'}
		]
	})
