.row.row-xl.row-30.justify-content-center
	.col-sm-6.col-lg-4
		+pricing-classic({
			img: 'pricing-1-346x229',
			title: 'Cupcakes',
			price: '90'
		})
			ul.pricing-classic-list
				li

					| Classic
				li

					| Gourmet
				li

					| Fondant
				li

					| Gourmet w/ Fondant

	.col-sm-6.col-lg-4
		+pricing-classic({
			mod: 'pricing-classic-sale',
			img: 'pricing-2-346x229',
			title: 'Wedding Cakes',
			price: '120',
			priceOld: '300'
		})
			ul.pricing-classic-list
				li

					| Red Velvet Cake
				li

					| Chocolate Cake
				li

					| Lemon Cake
				li

					| Pink Champagne Cake

	.col-sm-6.col-lg-4
		+pricing-classic({
			img: 'pricing-3-346x229',
			title: 'Party Cakes',
			price: '100'
		})
			ul.pricing-classic-list
				li

					| Pineapple Cake
				li

					| Oreo Cheesecake
				li

					| Mango Meringue Cake
				li

					| Fudgy Chocolate Cake